<nav class="nav">
  <div class="logo">
    <li><%= link_to "MORI'S STUDIO", root_path, class: "amarante" %></li>
  </div>

  <div id="navWeb" class="main_list">
    <ul>
      <li><a href="#">Sobre</a></li>
      <li><a href="#">Timeline</a></li>
      <li><a href="#">Contato</a></li>
      <li><a href="#">Portfólio</a></li>
      <li><a href="#">Mercado Goblin</a></li>
      <% if user_signed_in? %>
        <li><%= link_to "Sair", destroy_user_session_path, method: :delete, class: "amarante" %></li>
      <% else %>
        <li><%= link_to "Entrar", new_user_session_path, class: "amarante" %></li>
      <% end %>
    </ul>
  </div>

  <div id="navMobile">
    <button class="nav-toggle">
      <i class="fas fa-bars" style="color:white;"></i>
    </button>

    <div id='navMobileMenu'>
      <ul class='navbar-nav d-flex'>
        <li class='nav-item'>
          <li><a class="amarante" href="#">Sobre</a></li>
        </li>
        <li class='nav-item'>
          <li><a class="amarante" href="#">Timeline</a></li>
        </li>
        <li class='nav-item'>
          <li><a class="amarante" href="#">Contato</a></li>
        </li>
        <li class='nav-item'>
          <li><a class="amarante" href="#">Portfólio</a></li>
        </li>
        <li class='nav-item'>
          <li><a class="amarante" href="#">Mercado Goblin</a></li>
        </li>


        <li class='nav-item'>
          <% if user_signed_in? %>
            <li><%= link_to "Sair", destroy_user_session_path, method: :delete, class: "amarante" %></li>
          <% else %>
            <li><%= link_to "Entrar", new_user_session_path, class: "amarante" %></li>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
