<h1><%= @product.name %></h1>

<ul>
  <%= link_to "< Voltar", root_path  %>
</ul>

<ul>
  <li><strong>Nome:</strong> <%= @product.name %></li>
  <li><strong>Subtítulo:</strong> <%= @product.subtitle %></li>
  <li><strong>Descrição:</strong> <%= @product.description %></li>
  <li><strong>Preço:</strong> <%= number_to_currency(@product.price/100, unit: "R$", separator: ",", delimiter: ".") %></li>
  <li><strong>Quantidade em estoque:</strong> <%= @product.quantity %></li>
  <li><strong>Está ativo?</strong> <%= @product.active? ? "Ativado" : "Desativado" %></li>
<ul>
